<div class="container-about">

<div class="overlay">
   <div class="inner">
     <h1 class="display-4">About Ironflix</h1>
     <h3 class="lead">We are here to make your movie and show expereince worth it!
     </h3>

     <p class="lead">Time and time again we waste valuable time searching for the right movie or show. Ironflix has solved this problem by using the MovieDB api where you are able to search any movie or show you want. Our platform allows you to leave comments and read comments on any of the movies and shows! </p>
     
           <p class="lead">We are hard working developers here to make you expereince better</p>
     
     
     <a class="btn btn-primary btn-lg" href="/login" role="button">Log In</a>
     <a class="btn btn-primary btn-lg" href="/signup" role="button">Signup</a>
   </div>
 </div>
   <div>