
<div class="jumbotron">
 {{!-- <span>
   <iframe width="560" height="315" src="https://www.youtube.com/embed/ebI7b7NoH54?autoplay=1" frameborder="0" allow="autoplay; encrypted-media"
     allowfullscreen></iframe>
 </span> --}}

 <div class="Hello">

<h1>Welcome To Ironflix!</h1>
   <h3>Enter the movie or show you want to review, in the search bar. Give it a try!</h3>

   <hr class="my-4">
   <h3 class="lead">Make sure to write a review on movies or shows you liked, disliked, or would recommend to a friend!</h3>

 </div>
</div>

<div class="container">
 <div class="row">
   {{#each results}}

   <div id="resu" class="col">
     <a href="/details/{{id}}">
       <img width="200px;" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="no salio :(" width="100px">
       <p>{{title}}</p>
     </a>
   </div>
   {{/each}}



 </div>
</div>

