 <div class="jumbotron">
    <span>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ebI7b7NoH54?autoplay=1" frameborder="0" allow="autoplay; encrypted-media"
      allowfullscreen></iframe>
    </span>

    <div class="Hello">
      <h1 class="display-4">Ironflix</h1>
      <p class="lead">Read what your friends favorite movies and shows are! Whether you are on Netflix, Hulu, or if they are still in theaters see
        what your friends are saying!
      </p>
      <hr class="my-4">
      <p class="lead">Stay informed about what you're watching. It's time to change your experience.</p>
      <a class="btn btn-primary btn-lg" href="/login" role="button">Log In</a>
      <a class="btn btn-primary btn-lg" href="/signup" role="button">Signup</a>
    </div>
  </div>


  <div class="container-index">


  </div>
